{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:mdx/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "mdx",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
